body {
  background-color: #e6e6e6;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sideMenu {
  display: flex;
  background-color: #ba0203;
  height: 100%;
  width: 80px;
  position: fixed;
  border-style: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 3px;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  top: 0;
}

.sideMenu-open {
  display: flex;
  background-color: #ba0203;
  height: 100%;
  width: 180px;
  position: fixed;
  border-style: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 3px;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  top: 0;
}

.headerseparate {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

#menubutton {
  display: flex;
  outline: none;
  border-style: hidden;
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: 20px;
}

#homebutton {
  display: flex;
  outline: none;
  border-style: hidden;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-top: 15px;
}

#profilebutton {
  display: flex;
  outline: none;
  border-style: hidden;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: 25px;
}

#foodtypebutton {
  display: flex;
  outline: none;
  border-style: hidden;
  cursor: pointer;
  width: auto;
  height: 40px;
  margin-top: 25px;
}

.menuSeparate {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
}

.homeMenu {
  display: flex;
  align-items: center;
  justify-content: s;
  text-align: center;
  width: 120px;
}

.profileMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 120px;
}

.foodsMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 120px;
}

.text {
  display: none;
  color: white;
  font-size: 24px;
  height: 10px;
}

.top-align {
  vertical-align: top;
  text-align: center !important;
}

h1 {
  vertical-align: top;
  text-align: center !important;
}

.center-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bottom-align {
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
}

.resHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.separateBoxes {
  display: flex;
}

.evaluationBox {
  width: 450px;
  border: 3px solid black;
  border-radius: 6px;
  padding: 25px;
  margin: 20px;
  text-align: center !important;
}

.promotionsBox {
  width: 450px;
  border: 3px solid black;
  border-radius: 6px;
  padding: 25px;
  margin: 20px;
  text-align: center !important;
}

.clientsFeedbacks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 535px;
  border: 3px solid black;
  border-radius: 6px;
  padding: 25px;
  margin: 20px;
  text-align: center !important;
}

.promoImages {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#promotionImage {
  margin: 10px;
  width: 220px;
  height: auto;
}

#nopromotionImage {
  width: 350px;
  height: auto;
}

#evaluationImage {
  width: 100%;
  height: auto;
}

#evImage1 {
  width: auto;
  height: 25.5px;
}

.feedback1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 405px;
  height: 125px;
  border: 3px solid black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  text-align: center !important;
  background-color: floralwhite;
}

.feedback2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 405px;
  height: 125px;
  border: 3px solid black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  text-align: center !important;
  background-color: floralwhite;
}

.feedback3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 405px;
  height: 125px;
  border: 3px solid black;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  text-align: center !important;
  background-color: floralwhite;
}
