.platesPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.plateFunctions {
  display: flex;
  justify-content: space-between;
  width: 250px;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 20px;
}

.centerDivide {
  display: flex;
  flex-direction: column;
}

#pltsrcInput {
  border: 1px;
  border-color: gray;
  border-style: solid;
  width: 80%;
}

.plateslist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  height: 100%;
}

.plate1,
.plate2,
.plate3,
.plate4,
.plate5,
.plate6 {
  content-visibility: hidden;
  width: 280px;
  height: 200px;
  border: 3px solid black;
  border-radius: 6px;
  margin: 15px;
  text-align: center !important;
  background-image: url(./images/promotionex.jpg);
  background-size: cover;
}

.plate1:hover,
.plate2:hover,
.plate3:hover,
.plate4:hover,
.plate5:hover,
.plate6:hover {
  content-visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 200px;
  border: 3px solid darkgrey;
  border-radius: 6px;
  margin: 15px;
  text-align: center !important;
  background-image: url(./images/promotionex.jpg);
  filter: grayscale(70%);
  background-size: cover;
}

#editbutton,
#deletebutton {
  width: 24%;
  height: auto;
  background-color: white;
  border-radius: 15px;
}

#editbutton:hover,
#deletebutton:hover {
  cursor: pointer;
}
